<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>203</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>202</string>
					<key>Timestamp</key>
					<string>748479380.766444</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Game/GameViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        userInfo.score = score
</string>
				<key>leading</key>
				<string>        scoreLabel.animatePulseAndColorChange(.red)
        
</string>
				<key>trailing</key>
				<string>        userInfo.level = level
        
        if userInfo.score &gt; userInfo.bestScore {
</string>
			</dict>
			<key>title</key>
			<string>make this info visible for User when he enters the game</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>321</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>320</string>
					<key>Timestamp</key>
					<string>748449814.980991</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Game/GameScene.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                dx: Int.random(in: -10...10),
</string>
				<key>leading</key>
				<string>        drop?.physicsBody!.applyImpulse(
            CGVector(
</string>
				<key>trailing</key>
				<string>                dy: 1000
            )
        )
</string>
			</dict>
			<key>title</key>
			<string>different values for different levels</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>232</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>231</string>
					<key>Timestamp</key>
					<string>748478516.514205</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Game/BaseLevelScene.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func setBoard() {
</string>
				<key>leading</key>
				<string>    
    
</string>
				<key>trailing</key>
				<string>        
        let minYPos =  -frame.height / 2 + 600
        
</string>
			</dict>
			<key>title</key>
			<string>setBoard</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>244</string>
					<key>StartingColumnNumber</key>
					<string>73</string>
					<key>StartingLineNumber</key>
					<string>243</string>
					<key>Timestamp</key>
					<string>748479399.513388</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Game/BaseLevelScene.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>                
                let cloudPosition = CGPoint(x: i, y: currentYPos)
                setCloud(position: cloudPosition, isStorm: Bool.random())</string>
				<key>trailing</key>
				<string>                
                if maxCloudsInRange - range == 1 {
                    
</string>
			</dict>
			<key>title</key>
			<string>temp</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
